/* ------------------------------- Desktop versie -------------------------------- */

.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.error-message {
    font-size: 14px;
    color: #F7931E;
    padding-block: 20px;
    text-align: center;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .signin-container {
        gap: 10px;
    }

}