/* ------------------------------- Desktop versie -------------------------------- */
.inner-container-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    max-width: 1200px;
    margin-inline: 100px;
    gap: 50px;
}

.image-request-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.inner-button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding-left: 50px;
}

.logo-container-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 300px;
}

.logo-large-images {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .inner-container-images {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        gap: 0;
        margin-inline: 0;
    }

    .image-request-container {
       padding-left: 60px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 360px;
        gap: 0;
    }

    .inner-button-container {
        gap: 10px;
    }

    .title-logo-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }

    .logo-container-images {
        display: none;
    }

    .logo-large-images {
        display: none;
    }
}