/* ------------------------------- Desktop versie -------------------------------- */

.image-request-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.inner-button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.save-as-favorite-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #F7931E;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px ;
    line-height: normal;
    color: white;
    box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.20) inset, 0 4px 4px 0 rgba(255, 255, 255, 0.50) inset;
}

.save-as-favorite-button:hover {
    color: #0A4C90;
}

.save-as-favorite-button:disabled {
    opacity: 50%;
}

.save-as-favorite-button:active {
    background-color: #0DD4EF;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .button-container {
        flex-direction: column;
        justify-content: space-between;
        height: 370px;
        gap: 0;
        padding-bottom: 20px;
    }

    .inner-button-container {
        gap: 10px;
    }

    .title-logo-container-images {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 30px;
        height: 150px;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    .save-as-favorite-button {
        width: 250px;
        height: 50px;
        font-size: 14px;
    }

    .logo-container-images {
        display: none;
    }

    .logo-large-images {
        display: none;
    }
}