/* ------------------------------- Desktop versie -------------------------------- */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

label {
    margin-left: 8px;
    padding-inline: 4px;
    color: #0A4C90;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.input-field {
    width: 100%;
    height: 50px;
    color: #0A4C90;
    border-radius: 8px;
    border-color: #0A4C90;
    background-color: transparent;
    margin-top: -12px;
    font-family: inherit;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    z-index: 0;
}

.input-field.input-error {
    border-color: #F7931E;
    border-style: solid;
    /*height: 50px;*/
}

.error-message {
    font-size: 14px;
    color: #F7931E;
    padding-block: 5px;
    min-height: 30px;
    position: absolute;
    margin-top: 280px;
}

.input-error-message {
    font-size: 14px;
    color: #F7931E;
}


/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    input {
        font-size: 14px;
        width: 270px;
        height: 45px;
    }

    label {
        font-size: 14px;
    }

    .error-message {
        font-size: 12px;
    }

    .input-error-message {
        font-size: 12px;
    }

}