/* ------------------------------- Desktop versie -------------------------------- */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 375px;
}

.error-message--signup {
    margin-bottom: 500px;
    margin-top: 0;
    padding-left: 10px;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .signup-container {
        gap: 20px;
        width: 100vw;
    }

    .signup-form {
        height: 325px;
    }

}



