/* ------------------------------- Desktop versie -------------------------------- */

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    height: 300px;
    padding-top: 30px;
}

.title-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    height: 500px;
    min-width: 300px;
}

.image-container-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
    min-width: 300px;
}

.logo-large-signup {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

a {
    text-decoration: underline;
    color: #0A4C90;
    font-weight: 700;
}

a:hover {
    color: #0DD4EF;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .inner-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }

    .title-image-container {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .image-container-signup {
        display: none;
    }

    .logo-large-signup {
        display: none;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        height: 300px;
        padding-top: 0;
    }

}

