/* ------------------------------- Desktop versie -------------------------------- */

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background: #0DD4EF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-image-container {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.logo-small {
    height: 100%;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caas-small {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline: 20px;
    padding-top: 10px;
}

.cat-as-a-service-small {
    color: #0E0F3B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline: 20px;
    padding-bottom: 20px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin-inline: 150px;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #0DD4EF;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 20px;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {



    .footer-text {
        padding: 10px;
        font-size: 10px;
    }

}