@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,700;1,900&display=swap");

/* ------------------------------- Desktop versie -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: "Roboto", sans-serif;
    color: #0E0F3B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ravie", sans-serif;
    color: #0E0F3B;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #0A4C90;
    font-weight: 700;
}

a:hover {
    color: #0DD4EF;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    h1 {
        font-size: 36px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }
}